<div class="row">
  <div class="col-md-12"></div>
  <hr>
  <form>
    <div class="row">
      <div class="col-md-10 form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control">
      </div>
      <div class="col-md-2 form-group">
        <label for="amount">Amount</label>
        <input type="text" id="amount" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-success btn-space" type="submit">Add</button>
        <button class="btn btn-danger btn-space" type="button">Delete</button>
        <button class="btn btn-primary btn-space" type="button">Clear</button>
      </div>
    </div>
  </form>
</div>
